<div class="layout h-max xl:min-h-screen xl:max-w-screen">
  <div class="flex flex-column lg:flex-row h-screen">
    <!-- Mobile sidebar -->
    <p-sidebar [(visible)]="display" [transitionOptions]="'300ms ease-in-out'" class="lg:hidden mobile-sidebar" position="right" [fullScreen]="true" [blockScroll]="true">
      <app-sidebar-menu (display)="onDisplayChange($event)"></app-sidebar-menu>
    </p-sidebar>

    <!-- Mobile topbar -->
    <header class="mobile-menu-wrapper lg:hidden flex p-4 justify-content-between">
      <a [routerLink]="['/']"><img src="../../../../assets/trakk.svg" alt="trakk logo" class="w-5rem"></a>
      <small><fa-icon (click)="display = true" class="p-2 mx-2 text-xl" [icon]="icon('menuBar')"></fa-icon></small>
    </header>

    <div class="layout-menu-wrapper hidden lg:block justify-content-between border-right-3 border-200 h-screen lg:overflow-auto"
    style="width: 13rem;" *ngIf="!((pageTitle$ | async) === 'on')">
      <app-sidebar-menu></app-sidebar-menu>
    </div>

    <main class="layout-main flex flex-column flex-auto lg:overflow-auto h-full">
      <header class="layout-topbar-wrapper mx-auto w-full hidden lg:flex justify-content-between align-items-center p-3 sticky top-0"
      style="max-width: 960px;" *ngIf="!((pageTitle$ | async) === 'on')">
        <div class="text-2xl ml-3 font-bold"> {{ pageTitle$ | async }} </div>
      </header>

      <div class="flex-auto">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>

