@import 'primeflex/primeflex.scss';

.bordering {
    @include styleclass('lg:border-1 border-300 border-round-xl');
}

:host ::ng-deep .p-ripple .p-ink {
  background: rgba(#1769aa, 0.7);
}

.activity-dashboard {
  max-width: 960px;
}

.left-dash {
  flex: 1 1 70%;
  height: 100%;
}

.right-dash {
  flex: 1 1 30%;
  min-width: 300px;
}

.stat-top {
  flex: 1 1 40%;
}

.recent-bottom {
  flex: 1 1 60%;
  height: 100%;
}

.recent-bottom, .stat-top, .left-dash {
  @media (max-width: 960px) {
    height: max-content;
  }
}

app-top-activity-card {
  flex: 1 1 30%;
  max-width: 600px;
}
