@import 'primeflex/primeflex.scss';

.bordering {
  @include styleclass('lg:border-1 border-300 border-round-2xl');
}

.form-layout {
  max-width: 960px;
}

.form-container {
  max-width: 600px
}

.labelling {
  @include styleclass('text-md lg:text-sm font-medium');
}

:host ::ng-deep .p-component .p-autocomplete-input {
  padding: 1rem;
  font-size: .875rem;
}

.field-wrapper {
  @include styleclass('py-1');
}

.hero-container {
  width: 50%;
  background: url("../../../../assets/pexels-philip-ackermann-878151.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

:host ::ng-deep .p-toast-message {
  box-shadow: none;
  background: pink;
  // color: linear-gradient(rgb(60, 1, 60), rgb(2, 221, 255));
}
