<div class="signup-container min-h-screen max-w-screen">

  <p-toast position="center" key="error" [breakpoints]="{'1800px': {width: 'max-content'}}">
    <ng-template let-message pTemplate="message">
      <div class="text-xs font-normal text-white text-center mx-2">
        <h4 class="font-medium text-sm">{{message.summary}}</h4>
        <!-- <p class="text-200">{{message.detail}}</p> -->
      </div>
    </ng-template>
  </p-toast>

  <div class="card absolute mx-auto" *ngIf="isSigningUp">
    <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
  </div>

  <div class="flex min-h-screen">
    <div class="flex-1 min-h-screen">
      <div class="form-container h-full flex flex-column p-2 justify-content-center gap-2 mx-auto">
        <div class="mb-2">
          <h2 class="text-4xl">Welcome to Trakk</h2>
          <h5 class="w-8 mt-1 font-medium">Seamlessly track your real-time activities and stay connected to your tracking devices on the go</h5>
        </div>

        <form class="py-3" (ngSubmit)="onSignup()" [formGroup]="signupForm">
          <div class="field field-wrapper">
            <label for="email" class="block labelling">Username or Email Address</label>
            <input
              formControlName="email"
              id="email"
              type="text"
              placeholder="Ustainzolt@gmail.com"
              pInputText class="p-3 w-full xl:w-9 border-round-lg text-base lg:text-sm"
            />
          </div>

          <div class="field field-wrapper">
            <label for="password" class="block labelling">Password</label>
            <p-password
              formControlName="password"
              id="password"
              [feedback]="false" [toggleMask]="true">
            </p-password>
          </div>

          <button pButton pRipple
            [disabled]="isSigningUp"
            type="submit"
            label="Create an account"
            class="border-round-2xl py-3 my-1 w-5 lg:text-sm font-medium">
          </button>
        </form>

        <div class="mb-3 w-max">
          <p-divider align="center" styleClass="w-full">
            <b>or</b>
          </p-divider>
          <a class="flex align-items-center border-1 border-blue-400 w-max border-round-lg overflow-hidden cursor-pointer" (click)="onGoogleSignUp()" >
            <img src="../../../assets/PNGs/google.png" class="m-2" width="20px" alt="google slug">
            <span class="bg-blue-500 text-white hover:bg-blue-600 text-md" style="padding: 0.8rem;">Sign up with Google</span>
          </a>
        </div>

        <div class="text-sm">
          Already have an account? <a [routerLink]="['..', 'login']">Log in</a>
        </div>

      </div>
    </div>

    <!-- <div class="hidden xl:inline-flex flex-1 bg-blue-800">
      <div class="flex">
        <h2>preview here</h2>
      </div>
    </div> -->

  </div>
</div>


