@import 'primeflex/primeflex.scss';

.bordering {
  @include styleclass('lg:border-1 border-300 border-round-xl');
}

.labelling {
  @include styleclass('text-md lg:text-sm font-medium');
}

.field-wrapper {
  @include styleclass('py-1');
}

.form-container {
  width: 100%;
  max-width: 500px;
}

:host ::ng-deep .p-password {
  width: 75%;
  @media (max-width: 960px) {
    width: 100%;
  }
}

:host ::ng-deep .p-password input {
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 0.875rem;
  @media (max-width: 960px) {
    font-size: initial;
  }
}

:host ::ng-deep .p-toast-message {
  box-shadow: none;
  border: solid white 2px;
  background: rgba(255, 118, 118, 0.827);
}
