<div class="new-activity w-full h-full flex align-items-center justify-content-between flex-column p-5 bg-blue-50">
  <h2 class="text-lg mb-1 text-primary-800">Ready to feel it?</h2>
  <p class="text-sm text-700 font-medium text-center">Make and break new record on Trakk. Go the extra distance. Go with Trakk.</p>
  <button pButton pRipple type="button" label="Start new activity"
  [routerLink]="[ 0, 'start']"
  class="text-sm lg:text-xs lg:px-4 p-3 mt-3 border-round-3xl">
    <fa-icon class="mr-2" [icon]="faStart"></fa-icon>
  </button>
</div>
