<p-toast position="top-center" key="gps" [baseZIndex]="5000" >
  <!-- <ng-template let-message pTemplate="message">
    <div class="bg-white" style="flex: 1">
      <h4 class="text-center">{{message.detail}}</h4>
    </div>
  </ng-template> -->
</p-toast>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>


<div class="overview flex h-auto lg:h-screen lg:relative">
  <div class="map-wrapper flex-auto hidden lg:block">
    <app-active-activity-map [geoJson]="this.tracker.getGeoJSON()"></app-active-activity-map>
  </div>

  <small (click)="toggleMetricsPane()"
    class="detail-toggle-btn absolute surface-50 p-3 border-round-md hidden lg:block pointer">
    <fa-icon class="text-lg" [icon]="faMenu"></fa-icon>
  </small>

  <div *ngIf="displayMetricsPane"
    class="metrics-wrapper flex flex-column align-items-center py-4 gap-2 border-round-lg lg:absolute">
    <span class="flex gap-2 my-3 align-items-center text-xl font-medium p-2 px-4 bg-primary-50 border-round-3xl">
      <fa-icon class="" [icon]="faRun"></fa-icon>
      <p>Running</p>
    </span>

    <small class="my-4"><fa-icon class="text-7xl lg:text-8xl" [icon]="faSpeed"></fa-icon></small>

    <div class="text-center">
      <fa-icon [icon]="faRoad"></fa-icon>
      <h3 class="text-6xl lg:text-7xl">{{ tracker.getDistance() }}</h3>
      <p class="text-lg font-bold">kilometer</p>
    </div>

    <div class="bg-primary-50 mt-4 text-xl p-3 border-round-3xl lg:hidden" (click)="showMap()">
      <fa-icon class="mx-2" [icon]="faMap"></fa-icon>
    </div>

    <div class="flex gap-5 lg:my-5 my-3 text-lg text-primary-900 bg-primary-50 py-4 w-full justify-content-center text-0 align-items-center font-semibold">
      <span class="flex align-items-center">
        <fa-icon class="mx-2 text-xl" [icon]="faTime"></fa-icon>
        <span class="text-2xl lg:text-3xl">{{ timer.getTimeFormatted() }}</span>
      </span>
      <!-- <span class="flex align-items-center">
        <fa-icon class="mx-2 text-xl" [icon]="faRun"></fa-icon>
        <span class="text-2xl lg:text-3xl">34km/h</span>
      </span> -->
    </div>

    <div class="flex justify-content-center gap-4 my-2 lg:my-3">
      <button pButton pRipple type="button"
              label="Start" (click)="start()"
              *ngIf="!(started && ongoing)"
              class="p-button-rounded p-3 px-6 text-md lg:text-xl">
      </button>
      <button pButton pRipple type="button"
              label="Pause" (click)="pause()"
              *ngIf="(started && ongoing && !paused)"
              class="p-button-rounded p-3 px-6 text-md lg:text-xl">
      </button>
      <button pButton pRipple type="button"
              label="Resume" (click)="start()"
              *ngIf="(started && ongoing && paused)"
              class="p-button-rounded p-3 px-6 text-md lg:text-xl">
      </button>
      <button pButton pRipple type="button"
              label="Finish" (click)="post()"
              *ngIf="(ongoing&& paused)"
              class="p-button-rounded p-3 px-6 text-md lg:text-xl">
      </button>
    </div>

  </div>
</div>
