@import 'primeflex/primeflex.scss';

.bordering {
  @include styleclass('border-1 border-300 border-round-2xl');
}

.metrics-wrapper {
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  height: 90%;
  width: 25%;
  min-width: 400px;

  @media (max-width: 1200px) {
    transform: translateY(0);
    width: 100%;
    min-width: 100%;
    height: 100%;
  }
}

.detail-toggle-btn {
  left: 30px;
  top: 50px;
}
