@import 'primeflex/primeflex.scss';

.bordering {
  @include styleclass('lg:border-1 border-300 border-round-xl');
}

.nav-item {
  @include styleclass('hover:bg-blue-50 p-2 my-2 border-round-lg font-medium text-800 hover:text-blue-800');
}

small {
  flex-grow: 0;
  flex-basis: 30px;
}

fa-icon {
  font-size: 1.2rem;
}

