<nav class="h-full p-2">
  <ul class="h-full flex flex-column gap-4 p-2">

    <li class="hidden lg:block">
      <!-- <a [routerLink]="['activities']"><img src="../../../../assets/PNGs/trakk.png" alt="trakk logo" class="w-4"></a> -->
      <h2 [routerLink]="['activities']">Trakk</h2>
    </li>

    <div class="">
      <li class="nav-item" [routerLink]="['']" (click)="switchDisplay()">
        <a class="nav-link">
          <small class="visible"><fa-icon class="mr-3" [icon]="icon('overview')"></fa-icon></small>
          <span class="">Overview</span>
        </a>
      </li>
      <li class="nav-item" [routerLink]="['2', 'start']" (click)="switchDisplay()">
        <a class="nav-link">
          <small class="visible"><fa-icon class="mr-3" [icon]="icon('')"></fa-icon></small>
          <span>Start</span>
        </a>
      </li>
      <!-- <li class="nav-item" [routerLink]="['coming']">
        <a class="nav-link">
          <small class="visible"><fa-icon class="mr-3" [icon]="faActivity"></fa-icon></small>
          <span>Activities</span>
        </a>
      </li> -->
      <li class="nav-item" [routerLink]="['stat']" (click)="switchDisplay()">
        <a class="nav-link">
          <small class="visible"><fa-icon class="mr-3" [icon]="icon('stat')"></fa-icon></small>
          <span>Stats</span>
        </a>
      </li>
      <li class="nav-item" [routerLink]="['settings']" (click)="switchDisplay()">
        <a class="nav-link">
          <small class="visible"><fa-icon class="mr-3" [icon]="icon('setting')"></fa-icon></small>
          <span>Settings</span>
        </a>
      </li>
    </div>

    <div class="bordering">
      <li class="nav-item">
        <a class="flex" (click)="logout()">
        <small><fa-icon class="mr-3" [icon]="icon('signout')"></fa-icon></small>
         <span class="">LogOut</span>
        </a>
      </li>
      <li class="nav-item" [routerLink]="['profile']">
        <a class="flex">
        <small><fa-icon class="mr-3" [icon]="icon('user')"></fa-icon></small>
         <span class="">User</span>
        </a>
      </li>
    </div>
  </ul>
</nav>
