<nav class="min-h-screen p-2">

  <a [routerLink]="['/']"><img src="../../../../assets/trakk.svg" alt="trakk logo" class="w-4rem m-2 hidden lg:block"></a>

  <ul class="h-full flex flex-column justify-content-between gap-4 p-2">
    <div class="">
      <li class="nav-item" [routerLink]="['overview']" (click)="switchDisplay()">
        <a class="nav-link">
          <small class="visible"><fa-icon class="mr-3" [icon]="icon('overview')"></fa-icon></small>
          <span class="">Overview</span>
        </a>
      </li>
      <li class="nav-item" [routerLink]="['2', 'start']" (click)="switchDisplay()">
        <a class="nav-link">
          <small class="visible"><fa-icon class="mr-3" [icon]="icon('')"></fa-icon></small>
          <span>Start</span>
        </a>
      </li>
      <li class="nav-item" [routerLink]="['favourites']" (click)="switchDisplay()">
        <a class="nav-link">
          <small class="visible"><fa-icon class="mr-3" [icon]="icon('fav')"></fa-icon></small>
          <span>Favourites</span>
        </a>
      </li>
      <li class="nav-item" [routerLink]="['stat']" (click)="switchDisplay()">
        <a class="nav-link">
          <small class="visible"><fa-icon class="mr-3" [icon]="icon('stat')"></fa-icon></small>
          <span>Stats</span>
        </a>
      </li>
      <li class="nav-item" [routerLink]="['settings']" (click)="switchDisplay()">
        <a class="nav-link">
          <small class="visible"><fa-icon class="mr-3" [icon]="icon('setting')"></fa-icon></small>
          <span>Settings</span>
        </a>
      </li>
    </div>

    <div class="text-center mt-6">
      <div *ngIf="user$ | async as user" class="flex flex-column align-items-center nav-item my-4">
        <p-avatar *ngIf="user.photoURL" [image]="user.photoURL" styleClass="mb-2" size="xlarge" shape="circle"></p-avatar>
        <small *ngIf="!user?.photoURL"><fa-icon class="mb-2" [icon]="icon('user')"></fa-icon></small>
        <div class="text-center" [routerLink]="['profile']">
          <h4 class="text-sm font-medium mb-1">{{ user.displayName }}</h4>
          <h5 class="text-xs font-normal">{{ user.email }}</h5>
        </div>
      </div>
      <div class="nav-item" (click)="logout()">
        <small><fa-icon class="mr-3" [icon]="icon('signout')"></fa-icon></small>
        <span class="text-sm font-normal">Logout</span>
    </div>
    </div>
  </ul>
</nav>
