<ng-container *ngIf="activity$ | async as data">

  <p-toast position="center" key="notification" [breakpoints]="{'1800px': {width: 'max-content' }}">
    <ng-template let-message pTemplate="message">
      <div class="text-xs font-normal text-white text-center mx-2">
        <h4 class="font-medium text-sm">{{message.summary}}</h4>
      </div>
    </ng-template>
  </p-toast>

  <div class="detail-layout h-full xl:py-3" >
    <div class="activity-info flex flex-column xl:flex-row gap-4 h-full mx-auto" *ngIf="data.value as activity">
      <div class="map-left xl:border-round-xl overflow-hidden relative">
        <div class="map w-full h-full" id="mapping"></div>
        <div class="controls absolute bg-white bordering">
          <button pButton pRipple type="button" icon="pi pi-play" class="p-button-xs p-button-rounded p-button-text" (click)="applyGeo()"></button>
        </div>
      </div>
      <div class="detail-right flex flex-column justify-content-between bordering p-2 xl:m-0 mx-3 mb-4">
        <div class="p-2 flex flex-column gap-2">
          <div>
            <div class="flex align-items-center gap-2">
              <p-avatar label="P" styleClass="mr-2" size="large"></p-avatar>
              <div class="font-medium flex flex-column">
                <div class="text-700 text-xs">
                  <small class="mr-1"><fa-icon [icon]="icon(activity.category)"></fa-icon></small>
                  <span class="">{{ activity.category }}</span>
                </div>
                <h3 class="text-lg mb-1">{{ activity.athlete }}</h3>
                <div class="text-700 text-xs">
                  {{ activity.date | localeDateFormating }}
                </div>
              </div>
            </div>
            <div class="mt-3">
              <h2 class="text-xl mb-1">{{ activity.title }}</h2>
              <p class="text-sm">{{ activity.description }}</p>
            </div>
          </div>
          <button pButton pRipple type="button" label="New activity" class="px-5 p-buttom p-button-rounded w-max"
            [routerLink]="['/activities', 0, 'start']">
            <fa-icon class="mr-2" [icon]="icon(activity.category)"></fa-icon>
          </button>
        </div>
        <p-divider></p-divider>
        <div class="flex flex-wrap p-2 gap-1 text-center">
          <div class="flex flex-1 flex-column align-items-center w-max">
            <small class="m-1"><fa-icon [icon]="icon('distance')"></fa-icon></small>
            <span class="text-sm text-700 mb-1 font-medium">Distance</span>
            <p class="text-2xl font-bold">{{ activity.distance }}</p>
            <small class="">km</small>
          </div>
          <div class="flex flex-1 flex-column align-items-center w-max">
            <small class="m-1"><fa-icon [icon]="icon('time')"></fa-icon></small>
            <span class="text-sm text-700 mb-1 font-medium">Duration</span>
            <p class="text-2xl font-bold"> {{ activity.duration | durationFormatting }}</p>
            <small class=""> min </small>
          </div>

          <div class="flex flex-1 flex-column align-items-center w-max">
            <small class="m-1"><fa-icon [icon]="icon('speed')"></fa-icon></small>
            <span class="text-sm text-700 mb-1 font-medium">Speed</span>
            <p class="text-2xl font-bold">{{ activity.maxSpeed }}</p>
            <small class=""> km/s</small>
          </div>
        </div>
        <p-divider></p-divider>
        <div class="actions flex justify-content-center p-2 text-center gap-1">
          <small class="flex-1 flex flex-column align-items-center" (click)="addToFav()">
            <button pButton pRipple type="button" icon="pi pi-heart" class="p-button-rounded p-button-text p-button-primary my-1"></button>
            <span class="text-xs">Add to favourite</span>
          </small>
          <small class="flex-1 flex flex-column align-items-center">
            <button pButton pRipple type="button" icon="pi pi-send" class="p-button-rounded p-button-text p-button-secondary my-1"></button>
            <span class="text-xs">Share</span>
          </small>
          <small class="flex-1 flex flex-column align-items-center" (click)="copyLink()">
            <button pButton pRipple type="button" icon="pi pi-link" class="p-button-rounded p-button-text p-button-info my-1"></button>
            <span class="text-xs">Copy Link</span>
          </small>
          <small class="flex-1 flex flex-column align-items-center" (click)="delete()">
            <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger my-1"></button>
            <span class="text-xs">Delete</span>
          </small>
        </div>
      </div>
    </div>


    <!-- SKELETON MOCK-UP -->
    <div class="activity-info flex flex-column xl:flex-row gap-4 h-full mx-auto" *ngIf="data.isLoading">
      <div class="map-left xl:border-round-xl overflow-hidden relative">
        <p-skeleton borderRadius="8px" styleClass="w-full h-full"></p-skeleton>
      </div>

      <div class="detail-right flex flex-column justify-content-between bordering p-2 xl:m-0 mx-3 mb-4">
        <div class="p-2 flex flex-column gap-2">
          <div>
            <div class="flex align-items-center gap-2">
              <p-skeleton size="3rem"></p-skeleton>
              <div class="flex flex-column gap-1">
                <p-skeleton height=".5rem" width="5rem"></p-skeleton>
                <p-skeleton height="1.5rem" width="8rem"></p-skeleton>
                <p-skeleton height=".5rem" width="8rem"></p-skeleton>
              </div>
            </div>
            <div class="mt-3">
              <p-skeleton height="1.5rem" width="6rem" styleClass="mb-1"></p-skeleton>
              <p-skeleton height="5rem" width="14rem"></p-skeleton>
            </div>
          </div>
          <p-skeleton height="2rem" width="8rem" borderRadius="20px"></p-skeleton>
        </div>
        <p-divider></p-divider>
        <div class="flex flex-wrap p-1 gap-1 text-center">
          <div class="flex flex-1 flex-column align-items-center">
            <small class="m-1"><fa-icon [icon]="icon('distance')"></fa-icon></small>
            <span class="text-sm text-700 mb-1 font-medium">Distance</span>
            <p-skeleton size="2rem" styleClass="mb-1"></p-skeleton>
            <p-skeleton height=".5rem" width="3rem"></p-skeleton>
          </div>
          <div class="flex flex-1 flex-column align-items-center">
            <small class="m-1"><fa-icon [icon]="icon('time')"></fa-icon></small>
            <span class="text-sm text-700 mb-1 font-medium">Duration</span>
            <p-skeleton size="2rem" styleClass="mb-1"></p-skeleton>
            <p-skeleton height=".5rem" width="3rem"></p-skeleton>
          </div>

          <div class="flex flex-1 flex-column align-items-center">
            <small class="m-1"><fa-icon [icon]="icon('speed')"></fa-icon></small>
            <span class="text-sm text-700 mb-1 font-medium">Speed</span>
            <p-skeleton size="2rem" styleClass="mb-1"></p-skeleton>
            <p-skeleton height=".5rem" width="3rem"></p-skeleton>
          </div>
        </div>
        <p-divider></p-divider>

        <div class="actions flex justify-content-center p-1 text-center gap-1">
          <small class="flex-1 flex flex-column align-items-center">
            <p-skeleton size="2rem" styleClass="mb-1"></p-skeleton>
            <span class="text-xs">Add to favourite</span>
          </small>
          <small class="flex-1 flex flex-column align-items-center">
            <p-skeleton size="2rem" styleClass="mb-1"></p-skeleton>
            <span class="text-xs">Share</span>
          </small>
          <small class="flex-1 flex flex-column align-items-center">
            <p-skeleton size="2rem" styleClass="mb-1"></p-skeleton>
            <span class="text-xs">Copy Link</span>
          </small>
          <small class="flex-1 flex flex-column align-items-center">
            <p-skeleton size="2rem" styleClass="mb-1"></p-skeleton>
            <span class="text-xs">Delete</span>
          </small>
        </div>

      </div>
    </div>
  </div>
</ng-container>
