@import 'primeflex/primeflex.scss';

.bordering {
  @include styleclass('lg:border-1 border-300 border-round-xl');
}

.activity-info {
  max-width: 960px;
}

.map-left {
  flex: 5 1 70%;
  height: 100%;

  @media (max-width: 960px) {
    width: 100%;
    max-height: 600px;
    aspect-ratio: 3/4;
  }
}

.detail-right {
  flex: 1 1 30%;
}

.controls {
  min-width: max-content;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
