<main class="body relative h-screen" #body>

  <!-- <section class="intro h-screen w-full absolute flex flex-column align-items-center justify-content-between boda" #intro>
    <nav class="boda">Trakk</nav>
    <div class="intro_body boda w-full">
      <h2 class="intro_header flex flex-column align-items-center text-6xl mb-3">
        <span>Tracking <span class="outline">and</span> Sharing</span> <span>got easier and interactive</span>
      </h2>
      <p class="intro_subheader flex flex-column boda w-5 text-base mx-auto text-center font-semibold">
        Trakk is your intuitive browser-based partner that keeps your tracks covered and recorded while you get better at what you do. <br>
        Focus on your activities around the world. <br>
        Leave the where and when to Trakk.
      </p>
    </div>
    <div class="cta boda mb-8">
      <p>CLICK TO SEE TRAKK</p>
      <a (click)="expose()">SVG</a>
    </div>
  </section> -->

  <div class="main" #main>
    <div class="hero">
      <h2 class="text-3xl">Hero being hero</h2>
    </div>
    <div class="features" #features>
      <section class="features_section two" #card>
        <div class="container">
          <div class="col-left">
            <h2>Track your activities</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum voluptatem quae quidem, quam sapiente officia.</p>
          </div>
          <div class="col-right">
            <img src="../../../assets/pexels-philip-ackermann-878151.jpg" class="bg" alt="image">
          </div>
        </div>
      </section>

      <section class="features_section three" #card>
        <div class="container">
          <div class="col-left">
            <h2>Unlock new secret paths and share with friends</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum voluptatem quae quidem, quam sapiente officia.</p>
          </div>
          <div class="col-right">
            <img src="../../../assets/pexels-philip-ackermann-878151.jpg" class="bg" alt="image">
          </div>
        </div>
      </section>

      <section class="features_section four" #card>
        <div class="container">
          <div class="col-left">
            <h2>Join a community of similar activities participants</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum voluptatem quae quidem, quam sapiente officia.</p>
          </div>
          <div class="col-right">
            <img src="../../../assets/pexels-philip-ackermann-878151.jpg" class="bg" alt="image">
          </div>
        </div>
      </section>

      <section class="features_section five" #card>
        <div class="container">
          <div class="col-left">
            <h2>Replay activities on the go</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum voluptatem quae quidem, quam sapiente officia.</p>
          </div>
          <div class="col-right">
            <img src="../../../assets/pexels-philip-ackermann-878151.jpg" class="bg" alt="image">
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
