<ng-container *ngIf="categoryActivities$ | async as data">
  <div class="h-full p-1">
    <div class="activity-overview flex flex-column gap-4 mx-auto p-3" *ngIf="data.value?.length">
      <h2 class="lg:hidden text-3xl font-bold ml-2">Overview</h2>

      <div class="hero-wrapper flex flex-column lg:flex-row border-round-2xl my-2 lg:m-0">
        <div class="hero-left flex-auto flex lg:flex-column lg:justify-content-between justify-content-center lg:p-6 text-white">
          <div class="flex lg:flex-column align-items-center lg:align-items-start">
            <small class="m-2 block text-xl lg:text-5xl"><fa-icon [icon]="icon(activityCategory)"></fa-icon></small>
            <span class="text-xl lg:text-4xl font-semibold"> {{ activityCategory }} </span>
          </div>
          <button pButton pRipple type="button" label="Start"
            class="start-btn px-5 py-3 p-button-rounded align-self-start lg:static fixed"
            [routerLink]="[ '..', 0, 'start']">
            <fa-icon class="mr-2" [icon]="icon(activityCategory)"></fa-icon>
          </button>
        </div>

        <div class="hero-right flex flex-column flex-auto text-white">
          <div class="flex flex-auto justify-content-center flex-column p-3 align-items-center">
            <h4 class="text-md lg:text-xl">Total</h4>
            <p class="text-6xl font-semibold"> {{ categoryTotalDistance$ | async }} </p>
            <p class="text-lg flex align-items-center">
              <small class="mr-2"><fa-icon [icon]="icon('distance')"></fa-icon></small>
              <small>Distance (km)</small>
            </p>
          </div>
          <div class="flex p-3 flex-row flex-auto gap-2 align-items-center lg:p-0">
            <div class="flex-auto flex flex-column align-items-center" *ngIf="data.value as catActivities">
              <small class="m-1 lg:m-1 text-lg"><fa-icon [icon]="icon(activityCategory)"></fa-icon></small>
              <p class="text-3xl font-bold"> {{ catActivities.length }} </p>
              <small class="text-md">{{ catActivities.length > 1 ? "Activities": "Activity" }}</small>
            </div>
            <div class="flex-auto flex flex-column align-items-center" *ngIf="categoryTotalDuration$ | async as catTotalDuration">
              <small class="m-1 lg:m-1 text-lg"><fa-icon [icon]="icon('time')"></fa-icon></small>
              <p class="text-3xl font-bold">{{ catTotalDuration | durationFormatting }}</p>
              <small class="text-md">Duration (min)</small>
            </div>
            <div class="flex-auto flex flex-column align-items-center">
              <small class="m-1 lg:m-1 text-lg"><fa-icon [icon]="icon('speed')"></fa-icon></small>
              <p class="text-3xl font-bold">78.5</p>
              <small class="text-md">Avg. speed</small>
            </div>
          </div>
        </div>
      </div>

      <div class="bottom-wrapper flex gap-3 flex-column xl:flex-row">
        <div class="recent-runs bordering p-2 lg:p-3">
          <h3 class="mb-2 text-xl">Recent activities </h3>
          <div class="flex flex-column sm:flex-row flex-wrap gap-2 lg:gap-3">
            <app-activity-card
              [routerLink]="[activity.activityId]"
              *ngFor="let activity of data.value"
              [activity]="activity">
            </app-activity-card>
          </div>
        </div>

        <div class="visualizations bordering p-2 lg:p-3">
          <h3 class="mb-2 text-xl">Top activities</h3>
          <div class="flex flex-column sm:flex-row flex-wrap gap-2 lg:gap-3" *ngIf="topActivities$ | async as topActivities">
            <app-top-activity-overview
              [routerLink]="[topactivity.activityId]"
              *ngFor="let topactivity of topActivities"
              [activity]="topactivity">
            </app-top-activity-overview>
          </div>
        </div>
      </div>
    </div>

    <!-- SKELETON MOCK UP -->
    <div class="activity-overview flex flex-column gap-4 mx-auto p-3" *ngIf="!data.value?.length">
      <h2 class="lg:hidden text-3xl font-bold ml-2">Overview</h2>

      <div class="hero-wrapper-skeleton">
        <p-skeleton styleClass="h-full w-full border-round-2xl"></p-skeleton>
      </div>

      <div class="bottom-wrapper flex gap-3 flex-column xl:flex-row">
        <div class="recent-runs bordering p-2 lg:p-3">
          <h3 class="mb-2 text-xl">Recent activities </h3>
          <div>
            <p-skeleton height="3rem" borderRadius="8px" styleClass="w-full my-2"></p-skeleton>
            <p-skeleton height="3rem" borderRadius="8px" styleClass="w-full my-2"></p-skeleton>
            <p-skeleton height="3rem" borderRadius="8px" styleClass="w-full my-2"></p-skeleton>
          </div>
        </div>

        <div class="visualizations bordering p-2 lg:p-3">
          <h3 class="mb-2 text-xl">Visualization</h3>
          <div>
            <p-skeleton height="3rem" borderRadius="8px" styleClass="w-full my-2"></p-skeleton>
            <p-skeleton height="3rem" borderRadius="8px" styleClass="w-full my-2"></p-skeleton>
            <p-skeleton height="3rem" borderRadius="8px" styleClass="w-full my-2"></p-skeleton>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
