@import 'primeflex/primeflex.scss';

.bordering {
  @include styleclass('lg:border-1 border-300 border-round-2xl');
}

:host ::ng-deep .p-ripple .p-ink {
  background: rgba(#1769aa, 0.7);
}

.activity-overview {
  max-width: 960px;
}

.hero-wrapper {
  background: url("../../../../assets/pexels-philip-ackermann-878151.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-wrapper, .hero-wrapper-skeleton {
  aspect-ratio: 3/1;

  @media (max-width: 960px) {
    max-height: 400px;
    aspect-ratio: 3/5;
  }
}

.recent-runs, .visualizations {
  flex: 1 1 auto;
}

.start-btn {
  bottom: 55px;
  right: 30px;
  z-index: 200;
}

app-activity-card {
  flex: 1 1 30%;
  min-width: 300px;
}
