<!-- Total activities
Total Distance
Time on the road
Activities by the numbers
Longest run (distance)
Longest run (time)
Number of challenges taken
Fastest speed -->

<div class="stat-layout h-full m-auto lg:p-1">
  <h3 class="font-semibold text-3xl lg:my-5 m-3">Trakk Career Records</h3>
  <div class="activities-stat flex flex-column lg:flex-row flex-wrap gap-3">
    <app-stat-prop></app-stat-prop>
    <app-stat-prop></app-stat-prop>
    <app-stat-prop></app-stat-prop>
    <app-stat-prop></app-stat-prop>
  </div>
</div>


